---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import { header, logo, langlink } from '../styles/styles';
interface Props {
  lang: 'he' | 'en';
}
const { props } = Astro;
const lang = (props?.lang as Props["lang"]) ?? "he";

---
<header class={header}  dir="ltr">
  <div class={logo}>
    <a href={`/${lang}/`}>
      <img src="/logo.jpg" alt="Logo" class="h-10 w-auto" />
    </a>
    <div class={langlink}>
      <a href={`${Astro.url.pathname.replace(/^\/he|\/en/, "/en")}${Astro.url.search}`}>EN</a> |
      <a href={`${Astro.url.pathname.replace(/^\/he|\/en/, "/he")}${Astro.url.search}`}>עברית</a>
    </div>
  </div>

  <nav>
    <Hamburger />
    <Navigation lang={lang}/>
  </nav>
</header>

