---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Card, CardContent, Button } from '../../components/ui';
import { trails, type TrailProps, metatrailsmeta, type TrailMetaProps } from "../../data/trails";
import TrailFilter from "../../components/Filters";

export function getStaticPaths() {
  return [
    { params: { lang: 'he' } },
    { params: { lang: 'en' } },
  ];
}

const lang = (Astro.params.lang === 'en' || Astro.params.lang === 'he') ? Astro.params.lang : 'he';

// dictionary (inline for now, later move to helper)
const t = {
  he: {
    title: "מסלולים",
    subtitle: "גלו את המסלולים המומלצים שלנו",
  },
  en: {
    title: "Routes",
    subtitle: "Discover our recommended trails",
  },
}[lang];
const data = trails[lang];

---

<BaseLayout pageTitle={t.title} lang={lang} dir={lang === 'he' ? 'rtl' : 'ltr'}>
  <section class="bg-[#f5eee7] py-12">
    <div class="max-w-6xl mx-auto px-4 text-center">
      <h1 class="text-3xl md:text-4xl font-bold mb-2">{t.title}</h1>
      <p class="text-lg text-gray-700">{t.subtitle}</p>
    </div>
  </section>
  <section class="max-w-6xl mx-auto px-4 py-12">
    <TrailFilter client:only="react" trails={data} lang={lang} />
        <div class="text-center">
      <Button
        text={lang === "he" ? "חזרה לעמוד הבית" : "Back to home page"}
        href={`/${lang}/`}
        variant="secondary"
      />
    </div>
  </section>

</BaseLayout>
